h1 {
    font-family: Graphik LCG, Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
    font-family: Graphik LCG, Arial, Helvetica, sans-serif;
    line-height: 60px;
    font-weight: 600;
}

h3 {
    display: flex;
    font-family: Graphik LCG, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

h6 {
    font-family: Graphik LCG, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}