.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;    
}

.menu ul {
    padding: 0;
    list-style: none;    
}

.menu a {
    display: block;
    margin-top: 15px;
    font-family: Graphik LCG, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
}

.menu_nav {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 767px) {
    .menu {
        & a {
            font-size: 10px;
            line-height: 1px;
        }
    }
    .menu_nav {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}